@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

    --cor-primaria: #1c1c1c;
    --cor-secundaria: #fff;
    --cor-terciaria: #2165b2;

    /* --cor-primaria: #1c1c1c;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #3d8485;

    /* --cor-primaria: #1c1c1c;
    --cor-secundaria: #f6f6f6;
    /* --cor-terciaria: #fbff00; */
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_link {
    display: flex;
    gap: 5rem;
}

.cabecalho_menu {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--cor-secundaria);
    text-decoration: none;
}

body {
    background: linear-gradient(330deg, #00009a, #010e1e, #ff0000);
    background-size: 100vw;
    background-repeat: no-repeat;
    color: var(--cor-secundaria);
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #009aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0099ff, #00ffe7);
    filter: blur(10px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #009aff, #00ffe7);
    filter: blur(30px);
}

.strong {
    color: #0800ff;
}

p {
    color: var(--cor-secundaria)
}

.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    width: 40.313rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.principal_text {
    font-size: 2.5rem;
}

.second_text {
    font-size: 1.563rem;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.links_subtitulo {
    font-weight: 400;
    font-size: 1.5rem;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    text-align: center;
    width: 23.625rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1.344rem 0;
    box-shadow: 0 0 .2rem var(--cor-secundaria),
        0 0 .2rem var(--cor-secundaria),
        0 0 2rem var(--cor-terciaria),
        0 0 0.4rem var(--cor-terciaria),
        0 0 2.4rem var(--cor-terciaria),
        inset 0 0 1.2rem var(--cor-terciaria);
}

.minha {
    position: absolute;
    left: 62%;
    bottom: 22%;
    width: 29rem;
    background: var(--cor-primaria);
    border-radius: 50%;
    box-shadow: 0 0 .2rem var(--cor-secundaria),
        0 0 .2rem var(--cor-secundaria),
        0 0 2rem var(--cor-terciaria),
        0 0 0.4rem var(--cor-terciaria),
        0 0 2.4rem var(--cor-terciaria),
        inset 0 0 1.2rem var(--cor-terciaria);

}

.minha__ {
    position: fixed;
    left: 65%;
    top: 18%;
    width: 26rem;
    background: var(--cor-primaria);
    border-radius: 50%;
    box-shadow: 0 0 .2rem var(--cor-secundaria),
        0 0 .2rem var(--cor-secundaria),
        0 0 2rem var(--cor-terciaria),
        0 0 0.4rem var(--cor-terciaria),
        0 0 2.4rem var(--cor-terciaria),
        inset 0 0 1.2rem var(--cor-terciaria);

}

.principal__text {
    font-size: 1.75rem;
}

.second__text {
    font-size: 1.25rem;
}

@media (max-width:75rem) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho_link {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .section {
        width: auto;
    }

}

@media (max-width:450px) {

    .cabecalho {
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    .cabecalho_link {
        justify-content: center;

    }

    .cabecalho_menu {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        margin: 10%;
    }

    .section {
        width: 100%;
        padding: 5%;
        margin: 10%;
    }

    .minha {
        width: 15rem;
    }

    .minha__ {
        width: 15rem;
        visibility: hidden;
    }
}

@media (max-width:1300px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho_link {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .section {
        width: 100%;
    }

    .minha {
        width: 15rem;
    }

    .minha__ {
        width: 15rem;
        visibility: hidden;
    }
}